body{
  font-size: 16px;
  height:900px;
}
section{
  box-sizing: border-box;
}
.wrap.show{
  opacity: 1;
  visibility: visible;
}

.wrap{
  width: 100%;
  background:#fff;
}

ul,
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* 라이브러리 */
.cell {
    float: left;
}

.cell-r {
    float: right;
}

.row::after {
    display: block;
    clear: both;
    content: "";
}

.con {
    max-width: 1024px;
    margin: 0 auto;
}

*{
  padding:0;
  margin:0;
}
/* business_main_wrap */
.business_main_wrap .business_main_box{
  width: 1024px;
  height: auto;
  margin-top: 30px;
}
/* goods_register */
.business_main_wrap .business_main_box .goods_register{
  height: auto;
  border: 1px solid #777;
  border-radius: 9px;
  box-sizing: border-box;
  padding: 20px;
}
.business_main_wrap .business_main_box .goods_register .text-box{
  text-align: center;
  margin-bottom: 30px;
}
.business_main_wrap .business_main_box .goods_register button{
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 10px 30px;
  border: none;
  background: rgb(52, 152, 219);
  border-radius: 3px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
}

/* main_box */
.business_main_wrap .business_main_box .main_box{
  position: relative;
  margin: 30px 0;
  height: 390px;
  overflow: hidden;
}
.business_main_wrap .business_main_box .main_box .img-box a .text-box{
	position: absolute;
	bottom:20px;
	right:20px;
	color: #777;
}
/* goodsRoom_sell */
.business_main_wrap .business_main_box .goodsRoom_sell{
  background: rgb(52, 152, 219);
  height: auto;
  border-radius: 9px;
  padding: 20px;
  box-sizing: border-box;
}
.business_main_wrap .business_main_box .goodsRoom_sell .text-box{
  color: white;
  text-align: left;
}
.business_main_wrap .business_main_box .goodsRoom_sell .text-box .sell_box{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.business_main_wrap .business_main_box .goodsRoom_sell .text-box .sell_box div{
  text-align: center;
}


/* guestInformation */
.business_main_wrap .business_main_box .guestInformation{
  margin-top: 30px;
  height: 300px;
  border: 1px solid #777;
  border-radius: 9px;
  box-sizing: border-box;
  padding: 20px;
}
.business_main_wrap .business_main_box .guestInformation .guestInformation_box h3{
  margin-bottom: 30px;
  text-align: left;
}
.business_main_wrap .business_main_box .guestInformation .guestInformation_box table{
  width: 100%;
}
.business_main_wrap .business_main_box .guestInformation .guestInformation_box table .column{
  box-sizing: border-box;
}
.business_main_wrap .business_main_box .guestInformation .guestInformation_box table .column td b{
  padding: 10px;
  display: block;
  box-sizing: border-box;
  border-bottom: 1px solid #777;
}
.business_main_wrap .business_main_box .guestInformation .guestInformation_box table tbody .data td{
  padding: 10px;
  box-sizing: border-box;
}