body{
  font-size: 16px;
}

.wrap.show{
  opacity: 1;
  visibility: visible;
}

.wrap{
  width: 100%;
  background:#fff;
}


ul,
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* �씪�씠釉뚮윭由� */
.cell {
    float: left;
}

.cell-r {
    float: right;
}

.row::after {
    display: block;
    clear: both;
    content: "";
}

.con {
    max-width: 1024px;
    margin: 0 auto;
}

*{
  padding:0;
  margin:0;
}

.slider-wrap{
  width:100%;
  margin: 0 auto ;
}
.slider-contents{
  z-index: 9;
}

.slider-contents > a > img{
  width: 100%;
  max-height: initial;
  margin-top: -150px;
}

.slider-contents > a > video{
  width: 100%;
  max-height: initial;
  margin-bottom: -50px;
}

.slick-dots{
  color: #777;
  font-weight: bold;
  bottom: -40px;
}

.slider-wrap .slick-dots li{
  padding-top: 30px;
  width: 11.5% ;
  height: auto ;
}

.slick-prev{
  left: 25px;
  z-index: 9;
}

.slick-next {
  right: 25px;
  z-index: 9;
}

.slider-contents > a > .text-box{
  position: relative;
  margin-left:0;
  color: white;
  z-index: 9;
}

.slider-contents > a > .text-box > .text {
    position: absolute;
    bottom: 0;
    right: -9%;
    z-index: 9;
    padding-bottom: 3%;
    text-align:left;
}

.slider-contents > a > .text-box > .text > img{
  width: 60%;
  margin-top: 10px;
}

.slick-prev:before, .slick-next:before{
	font-size:30px;
}

/* 硫붿씤 濡쒓퀬 �씠誘몄� */
.main-link{
  width: 100%;
  margin-top:40px;
  margin-bottom: 150px;
}

.main-link .main-logo-box ul li{
  padding-top: 30px;
    width: 12.5%;
    height: auto;
    position: relative;
}
.main-link .main-logo-box ul li a img{
  margin: 0 auto;
  position: absolute;
  left: 21%;
  width: 50%;
}

/* YOLO媛��옄!而ㅻ�ㅻ땲�떚 */
.main-community{
  width: 100%;
}
.main-community .community-name{
  width:300px;
  margin: 0 auto;
}
.main-community .community-name img{
  width:40%;
  float:left;
}
.main-community .community-name p{
  width:60%;
  float:left;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}

.community-box{
  padding-top: 50px;
}
.img-box > img{
  width: 100% ;
  display: block ;
}
.content-wrap{
  height: 300px ;
  overflow: hidden ;
}
.content-wrap > .content-list{
  width: 1025px ;
  height: auto ;
  position: relative ;
  top: -300px ;
  transition: 1s ;
}
.content-wrap > .content-list > .content-box-1{
  width: 100% ;
}
.content-wrap > .content-list > .content-box-2{
  width: 100% ;
}
.content-wrap > .content-list > .content-box-3{
  width: 100% ;
}
.content-wrap > .content-list > .content-box-4{
  width: 100% ;
}
.content-wrap > .content-list > .content-box > ul{
  overflow: hidden ;
}
.content-wrap > .content-list > .content-box > ul > li{
  display: block ;
  width: 25% ;
  height: 300px ;
  padding: 5px ;
  box-sizing: border-box ;
  
}
.content-wrap > .content-list > .content-box > ul > li > a > img{
  display: block ;
  width: 100% ;
  height: 100% ;
  object-fit: cover ;
}

/* YOLO媛��옄! 荑좏룿 而ㅻ�ㅻ땲�떚 */
.main-guest{
  width:100%;
  height: 300px;
  margin-top: 50px;
}
/* yolo�씠踰ㅽ듃 */
.main-guest .guest-box{
  width: 50%;
  height: 100%;
}
.main-guest .guest-box .title{
  width: 300px;
  height: 15%;
}
.main-guest .guest-box .title .community-name img{
  width: 40%;
  float: left;
}
.main-guest .guest-box .title .community-name p{
  width: 60%;
  float: left;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}
.main-guest .guest-box .coupon-box{
  width: 98%;
  height: 85%;
}
.main-guest .guest-box .coupon-box a img{
  width: 100%;
  border: 1px solid #ddd;
}
/* 寃뚯뒪�듃�븯�슦�뒪 */
.main-guest .business-box{
  width: 50%;
  height: 100%;
}
.main-guest .business-box{
  width: 50%;
  height: 100%;
}
.main-guest .business-box .title{
  width: 300px;
  height: 15%;
}
.main-guest .business-box .title .community-name img{
  width: 30%;
  float: left;
}
.main-guest .business-box .title .community-name p{
  width: 60%;
  float: left;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  margin-top: 5px;
}
.main-guest .business-box .host-box{
  width: 98%;
  height: 85%;
  float: right;
}
.main-guest .business-box .host-box a img{
  width: 100%;
  border: 1px solid #ddd;
}